/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

  a:hover {
    color: dodgerblue;
  }

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

input {
  border-radius: 4px;
}

.column {
  float: left;
  width: 20%;
  margin-bottom:10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.divTable {
  display: table;
  width: 100%;
}

.CenterForm {
  text-align: center;
}

